﻿@*@inject SignInManager<User> manager;*@
@model IEnumerable<Category>
@{
    ViewData["Title"] = "List Of Categories";
    var _user = (LoggedInUserViewModel)ViewBag.User;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Manage Store</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5 mb-4 pb-2 list-bp">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_BlueNavCard.cshtml", @_user);
            }
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    <a class="nav-link" asp-action="ProductTypeList"><i class="fa fa-hashtage fa-sm fa-fw mr-2 ri"></i>Product Types</a>
                    <a class="nav-link" data-toggle="tab" href="#sidebar-1-4" id="sidebar-1-4" role="tab" aria-controls="sidebar-1-4" aria-selected="true"><i class="fa fa-cogs fa-sm fa-fw mr-2 ri"></i>Categories</a>
                    <a class="nav-link" asp-action="StoreList"><i class="fa fa-crosshairs fa-sm fa-fw mr-2 ri"></i>Stores</a>
                    @if (_user.UserType.Equals("SuperAdmin"))
                    {
                        <label>Manage Users</label>
                        <a class="nav-link" asp-controller="Manage" asp-action="UserTypes"><i class="fas fa-tablets fa-sm fa-fw mr-2 ri"></i>User Types</a>
                        <a class="nav-link" asp-controller="Manage" asp-action="UserList"><i class="fas fa-user-circle fa-sm fa-fw mr-2 ri"></i>Users</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-3 overflow-hidden">
                    <h1 class="h5 mb-0 float-left ml-3">Category List</h1>
                </div>
                <div class="row">
                    <div class="mt-2 ml-4">
                        <a class="btn btn-success btn-block btn-sm" asp-action="Category"><i class="fas fa-plus"></i></a>
                    </div>
                </div>

                <table class="table table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model.Any())
                            {
                                foreach (var desc in Model)
                                {
                                    var rowId = "row_dec_" + @desc.CategoryId;
                                    <tr>
                                        <th scope="row">@desc.CategoryId</th>
                                        <td><label for="exampleInput1">@desc.Name</label></td>
                                        <td>
                                            <div class="row">
                                                @if (desc.Deletable)
                                                {
                                                    <div class="col-md-3">
                                                        <form class="user" method="post" asp-action="DeleteCategory" asp-route-Id="@desc.CategoryId">
                                                            <div class="col-md-12">
                                                                <button class="btn btn-danger btn-block btn-sm " type="submit"><i class="fas fa-trash"></i></button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                }
                                                <div class="col-md-3">
                                                    <a class="btn btn-info btn-block btn-sm" asp-controller="Admin" asp-action="Category" asp-route-Id="@desc.CategoryId"><i class="fas fa-edit"></i></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td scope="row">
                                        <div class="d-sm-flex align-items-center justify-content-between mb-3 overflow-hidden">
                                            <h1 class="h5 mb-0 float-left ml-3 text-danger"> No Product Category yet</h1>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        <tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@* Response container *@
@{
    await Html.RenderPartialAsync("~/Views/Shared/_Response.cshtml");
}
<script type="text/javascript">

    window.onload = function () {
        var type = document.getElementById('code').value;
        var title = document.getElementById('status').value;
        var message = document.getElementById('message').value;

        if (type != null && type == 200) {
            type = 'success';
            messenger(message, title, type)
        }
    }

</script>