﻿@model SaleAI.Models.PropertiesResponse
@{
    ViewData["Title"] = "Manage Store";
    var _user = (LoggedInUserViewModel) ViewBag.User;
    var imageB = ViewBag.img;
}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Profile" asp-route-username=@_user.UserName>Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container pt-5 mb-4 pb-2 list-bp">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_BlueNavCard.cshtml", _user);
            }
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    <a class="nav-link" asp-action="ProductTypeList"><i class="fa fa-hashtag fa-sm fa-fw mr-2 ri"></i>Product Types</a>
                    <a class="nav-link" asp-action="CategoryList"><i class="fa fa-cogs fa-sm fa-fw mr-2 ri"></i>Categories</a>
                    <a class="nav-link" asp-action="StoreList"><i class="fa fa-crosshairs fa-sm fa-fw mr-2 ri"></i>Stores</a>
                    @if (_user.UserType.Equals("SuperAdmin"))
                    {
                        <label>Manage Users</label>
                        <a class="nav-link" asp-controller="Manage" asp-action="UserList"><i class="fas fa-arrow-alt-circle-down fa-sm fa-fw mr-2 ri"></i>Users</a>

                    }
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9">
            <div class="card bg-white p-3 widget shadow rounded mb-4">
                @if (Model != null )
                {
                    <div class="row">
                        <div class="col-xl-4 col-md-4 mb-4">
                            <div class="card card-inverse card-success">
                                <div class="card-block bg-success">
                                    <div class="rotate">
                                        <i class="fas fa-users-cog fa-5x"></i>
                                    </div>
                                    <h6 class="text-uppercase">Admin Users</h6>
                                    <h1 class="display-1">@Model.AdminCount</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-4">
                            <div class="card card-inverse card-success">
                                <div class="card-block bg-success">
                                    <div class="rotate">
                                        <i class="fa fa-users fa-5x"></i>
                                    </div>
                                    <h6 class="text-uppercase">Customers</h6>
                                    <h1 class="display-1">@Model.CustomersCount</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-4">
                            <div class="card card-inverse card-white">
                                <div class="card-block white-darker">
                                    <div class="rotate">
                                        <i class="fas fa-store-alt fa-5x"></i>
                                    </div>
                                    <h6 class="text-uppercase">Stores</h6>
                                    <h1 class="display-1">@Model.ShopsCount</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-4 mb-4">
                            <div class="card card-inverse card-Yellow">
                                <div class="card-block yellow-darker">
                                    <div class="rotate">
                                        <i class="fa fa-sign-in fa-5x"></i>
                                    </div>
                                    <h6 class="text-uppercase">Logins</h6>
                                    <h1 class="display-1">134</h1>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    window.onload = function () {
        document.getElementById("noneAdmin").display='none'
    }

    function Process(t) {
        document.getElementById("AttrEq").disabled = !t.checked;
    }

    function hasSpecialPriceChange(p) {
        document.getElementById("decSpecialPrice").disabled = !p.checked;
    }

    function hasCategoryChange(cat) {
        document.getElementById("categoryId").disabled = !cat.checked;
    }

    function messenger(Message, Title, Type) {
        window.createNotification({
            closeOnClick: true,
            positionClass: 'nfc-top-right',
            showDuration: 3500,
            theme: Type ? Type : 'success'
        })({
            title: Title ? Title : 'Title',
            message: Message ? Message : "No Message"
        });
    }
</script>
