﻿@model StoreViewModel
@{
    ViewData["Title"] = "Store";
    var _user = (LoggedInUserViewModel)ViewBag.User;
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Manage Store</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5 mb-4 pb-2 list-bp">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_BlueNavCard.cshtml", @_user);
            }
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    <a class="nav-link" asp-action="ProductTypeList"><i class="fa fa-hashtag fa-sm fa-fw mr-2 ri"></i>Product Types</a>
                    <a class="nav-link" asp-action="CategoryList"><i class="fa fa-cogs fa-sm fa-fw mr-2 ri"></i>Categories</a>
                    <a class="nav-link active" data-toggle="tab" href="#sidebar-1-4" id="sidebar-1-4" role="tab" aria-controls="sidebar-1-4" aria-selected="true"><i class="fa fa-crosshairs fa-sm fa-fw mr-2 ri"></i>Stores</a>
                    @if (_user.UserType.Equals("SuperAdmin"))
                    {
                        <label>Manage Users</label>
                        <a class="nav-link" asp-controller="Manage" asp-action="UserTypes"><i class="fas fa-tablets fa-sm fa-fw mr-2 ri"></i>User Types</a>
                        <a class="nav-link" asp-controller="Manage" asp-action="UserList"><i class="fas fa-user-circle fa-sm fa-fw mr-2 ri"></i>Users</a>
                    }
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-3 overflow-hidden">
                    <h1 class="h5 mb-0 float-left ml-3">Store </h1>
                </div>

                <div class="row">
                    <div class="mt-2 ml-4">
                        <a class="btn btn-success btn-block btn-sm" asp-action="StoreList"><i class="fas fa-list-alt"></i></a>
                    </div>
                </div>
                <form class="user" method="post">
                    <div class="row gutter-1">
                        <input asp-for="Id" hidden class="form-control">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Link"></label>
                                <input asp-for="Link" class="form-control">
                                <span asp-validation-for="Link" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SpecialLink"></label>
                                <input asp-for="SpecialLink" class="form-control">
                                <span asp-validation-for="SpecialLink" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SearchLink"></label>
                                <input asp-for="SearchLink" class="form-control">
                                <span asp-validation-for="SearchLink" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Theme"></label>
                                <input asp-for="Theme" class="form-control">
                                <span asp-validation-for="Theme" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Logo"></label>
                                <input asp-for="Logo" class="form-control">
                                <span asp-validation-for="Logo" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" value="Submit" class="btn btn-primary btn-user btn-block">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@* Response container *@
@{
    await Html.RenderPartialAsync("~/Views/Shared/_Response.cshtml");
}
<script type="text/javascript">

    window.onload = function () {
        var type = document.getElementById('code').value;
        var title = document.getElementById('status').value;
        var message = document.getElementById('message').value;

        if (type != null && type == 200) {
            type = 'success';
            messenger(message, title, type)
        }
        if (type != null && type == 403) {
            type = 'warning';
            messenger(message, title, type)
        }
    }

</script>