﻿<!--model SaleAI.Models.PropertiesResponse

<form class="user" method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="AddStore" id="frmAddStore">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h1 class="h5 mb-0 text-gray-900">Add a Store</h1>
    </div>
    <div class="row gutter-1">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInput1">Store Name</label>
                <input id="storeName" name="storeName" type="text" class="form-control" placeholder="Sa Shop">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInput2">Store Link</label>
                <input id="storeLink" name="storeLink" type="text" class="form-control" placeholder="www.theshop.co.za">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInput3">Store Theme color</label>
                <input id="storeTheme" name="storeTheme" type="text" class="form-control" placeholder="blue">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInput4">Logo Link</label>
                <input id="logoLink" type="text" name="logoLink" class="form-control" placeholder="logo link ">
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-select form-control" aria-label="Special Decendant List" id="decSpecialDecendant" name="decSpecialDecendant">-->
                        @*@{
                            foreach (var desc in Model.DecendantList.ToList())
                            {
                                <option value=@desc.Id>@desc.Type @(desc.HasAttribute? " = " +  desc.Attribute.Type:"" )</option>
                            }
                        }*@
                    <!--</select>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <div class="form-group">
                    <select class="form-select form-control" aria-label="Normal Decendant List" id="decNormalDecendant" name="decNormalDecendant">-->
                        @*@{
                            foreach (var desc in Model.DecendantList.ToList())
                            {
                                <option value=@desc.Id>@desc.Type @(desc.HasAttribute? " = " +  desc.Attribute.Type:"" )</option>
                            }
                        }*@
                    <!--</select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" value="Submit" class="btn btn-primary btn-user btn-block">Save Changes</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    function StoreAction(i)
    {
        document.getElementById("frmAddStore").style.display = "block";
        document.getElementById("frmAddStore").disabled = false;

        document.getElementById("frmEditStore").style.display = "none";
        document.getElementById("frmEditStore").disabled = true

    }
    function deleteStore(Id)
    {
        $.ajax(
            {
                url: '@Url.Action( "DeleteStore", "Admin")',
                contentType: "application/json, charset-utf-8",
                dataType: "json",
                data: { id: Id },

                success: function (data) {
                    if (typeof (data) == 'object') {
                        messenger("successfully deleted", "Deleted", null)
                    }
                    else {
                        messenger("Store cannot be Deleted", "Faild", 'warning')
                    }
                }
            });
    }
</script>-->