﻿@model HomeViewModel

<div class="modal" tabindex="-1" role="dialog" id="addBudget">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xl-12 col-md-12 mb-4 ml-2">
                    <div class="card  shadow border-0 mt-4">
                        <div class="card border-0">
                            <div class="card-body p-3">
                                <div class="row">
                                    <label for="quantity">Amount :</label>
                                    <input type="number" id="budgetAmt" step="0.1" name="budgetAmt" min="1" value="1" max="20000">
                                    <button onclick="submitBudget()">Add Budget</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
