﻿@model LoggedInUserViewModel

<div class="bg-gradient-primary inner-profile text-white py-5 px-4 widget shadow rounded mb-4 text-center">
    <a class="btn btn btn-info" asp-controller="Home" asp-action="Index"><i class="fas fa-home "></i></a>
    @if (!Model.UserType.Equals("Customer"))
    {
        <a class="btn btn btn-info" asp-controller="Admin" asp-action="Index"><i class="fa fa-qrcode"></i></a>
    }
    <p><span class="text-muted text-gray-500"><i class="fas fa-map-marker-alt fa-fw fa-sm mr-1"></i> AI Virtual Store</span></p>
    <form class="user" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Logout">
        <button type="submit" value="Submit" class="btn btn btn-warning">Logout</button>
    </form>
</div>