﻿@model HomeViewModel

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cheapest Product Is</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xl-8 col-md-8 mb-4 ml-5">
                    <div class="card  shadow border-0">
                        <div class="card border-0">
                            <div class="m-card-cover">
                                <a href=@Model.Cheapest.link>
                                    <div class=" shadow-sm rounded mb-2 text-center p-2 m-2 love-box" style="background: @Model.Cheapest.theme;">
                                        <img src=@Model.Cheapest.logo class="card-img-top" alt="...">
                                    </div>
                                </a>
                                <a href=@Model.Cheapest.products[0].Link>
                                    <img src=@Model.Cheapest.products[0].Img class="card-img-top" alt="...">
                                </a>
                            </div>
                            <div class="card-body p-3">
                                <a href=@Model.Cheapest.products[0].Link>
                                    <h1 class="card-title text-danger mb-1" style="font-size: 23px !important;">@Model.Cheapest.products[0].Price</h1>
                                    <small class="text-black-50" style="font-size: x-small !important;">@Model.Cheapest.products[0].Name</small>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
