﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick-theme.min.css" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/osahan.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/notify.css" type="text/css">
</head>
<body>

    @RenderBody()




    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="~/js/notify.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/vendor/slick/slick.min.js"></script>
    <script src="~/js/osahan.js"></script>
    <script src="~/js/Inputmask-5.x/jquery.inputmask.js"></script>
    <script src="~/js/Inputmask-5.x/inputmask.js"></script>
    <script src="~/js/Inputmask-5.x/bindings/inputmask.binding.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        function messenger(Message, Title, Type) {
            window.createNotification({
                closeOnClick: true,
                positionClass: 'nfc-top-right',
                showDuration: 3500,
                theme: Type ? Type : 'success'
            })({
                title: Title ? Title : 'Title',
                message: Message ? Message : "No Message"
            });
        }
    </script>
</body>
</html>
