﻿<div hidden>
    @if (ViewBag.Response != null)
    {
        <input type="hidden" id="code" value="@ViewBag.Response.ErrorNo" />
        <input type="hidden" id="status" value="@ViewBag.Response.Status" />
        <input type="hidden" id="message" value="@ViewBag.Response.Message" />
    }
</div>
