﻿@model HomeViewModel

<div class="modal" tabindex="-1" role="dialog" id="updateQuantity">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-xl-12 col-md-12 mb-4 ml-2">
                    <div class="card  shadow border-0 mt-4">
                        <div class="card border-0">
                            <div class="card-body p-3">
                                <div class="row">
                                    <label for="quantity">Quantity :</label>
                                    <input type="text" id="_productid" hidden>
                                    <input type="number" id="_quantity" name="quantity" min="1" value="1" max="20">
                                    <button onclick="submitProductQuantity()">Update </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
