﻿@{
    ViewData["Title"] = "Access Denied";
}
<div class="container">
    <div class="text-center mt-5 mb-5 pt-5 pb-5">
        <div class="error mx-auto" data-text="403">403</div>
        <p class="lead text-gray-800 mb-lg-5">Forbidden </p>
        <p class="text-gray-500 mb-0">You do not have enough rights to access this functionality</p>
        <a asp-action="Login">← Please LogIn</a>
    </div>
</div>