﻿@{
    ViewData["Title"] = "Home";
    var bckimg = ViewBag.img;
}
<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sat Aug 14 2021 12:52:06 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="6112dac7d59d36674a86e990" data-wf-site="6112dac7d59d3663da86e98f">
<head>
    <meta charset="utf-8">
    <title>Shaun&#x27;s Dapper Project</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Webflow" name="generator">
    <link href="~/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="~/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="~/css/shauns-dapper-project-fcf5c7.webflow.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script type="text/javascript">WebFont.load({ google: { families: ["Oswald:200,300,400,500,600,700", "DM Serif Display:regular", "Inter:regular,600"] } });</script>
    <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
    <script type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
</head>
<body class="body" style="background: url(@bckimg); background-position: center; background-size: cover;">
    <header id="nav" class="sticky-nav">
        <nav class="w-container">
            <ul role="list" class="nav-grid w-list-unstyled">
                <li id="w-node-_0d157a57-8e98-caa1-e920-331a081ff205-4a86e990">
                    <a href="#" class="nav-logo-link"><img src="~/images/Grocery.PNG" alt="" class="nav-logo"></a>
                </li>
                <li>
                    <a asp-action="Login" class="button w-button">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id=" cards-section" class="cards-section wf-section">
        <div class="centered-container w-container">
            <h2 class="heading-4" style="background: #a5ccefba;">What do we do?</h2>
            <p class="paragraph" style="background: #c3d9ef;color: black;">We help you find the lowest price of a product from a variety of stores, so you don&#x27;t have to spend hours running around</p>
            <div class="card cards-grid-container" style="background: #c3d9ef;color: black;">
                <div id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f7236-4a86e990">
                    <div class="cards-image-mask"><img src="~/images/Pc.jpg" alt="" class="cards-image"></div>
                    <h3 class="heading-2">Find my special</h3>
                    <p>Just use the search bar at the top to find your product and we&#x27;ll show you the store with the lowest price. 🙃</p>
                </div>
                <div class="ml-2" id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f723d-4a86e990">
                    <div class="cards-image-mask"><img src="~/images/GettyImages-74214360.jpg" alt="" class="cards-image"></div>
                    <h3 id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f7240-4a86e990" class="heading-5">Adding to my grocery list</h3>
                    <p id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f7242-4a86e990">Once you found the lowest price of your product hit the like button 👍 and it will be added to your grocery list on the left.</p>
                </div>
                <div id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f7244-4a86e990">
                    <div class="cards-image-mask"><img src="~/images/woman-online-shopping_trans_NvBQzQNjv4Bq2wHKr9_uHUEl_nmj3Nb7_s5oGlu-8IeK57fWoZWMwRw.jpg" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 229.328125px, 286.65625px" srcset="~/images/woman-online-shopping_trans_NvBQzQNjv4Bq2wHKr9_uHUEl_nmj3Nb7_s5oGlu-8IeK57fWoZWMwRw-p-500.jpeg 500w, images/woman-online-shopping_trans_NvBQzQNjv4Bq2wHKr9_uHUEl_nmj3Nb7_s5oGlu-8IeK57fWoZWMwRw-p-1080.jpeg 1080w, images/woman-online-shopping_trans_NvBQzQNjv4Bq2wHKr9_uHUEl_nmj3Nb7_s5oGlu-8IeK57fWoZWMwRw-p-1600.jpeg 1600w, images/woman-online-shopping_trans_NvBQzQNjv4Bq2wHKr9_uHUEl_nmj3Nb7_s5oGlu-8IeK57fWoZWMwRw.jpg 1960w" alt="" class="cards-image"></div>
                    <h3 id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f7247-4a86e990" class="heading-3">Don&#x27;t feel like going out?</h3>
                    <p id="w-node-_6a3c3205-e129-05c7-5fb4-4063bb7f7249-4a86e990">If you don&#x27;t feel like going out, don&#x27;t worry, just click on the product and we will redirect you to the store and if they allow online purchases you can make them from there.</p>
                </div>
            </div>
        </div>
    </section>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6112dac7d59d3663da86e98f" type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>