﻿@model SaleAI.ViewModels.LogInModel
@{
    ViewData["Title"] = "LogIn";
    var img = ViewBag.img;
}
<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block " style="background: url(@img); background-position: center; background-size: cover;"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome !</h1>
                                    </div>

                                    <form class="user" method="post" asp-controller="Account" asp-action="Login">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="UserName"></label>
                                            <input asp-for="UserName" class="form-control form-control-user">
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control form-control-user">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
                                                <label class="custom-control-label" asp-for="RememberMe"></label>
                                            </div>
                                        </div>
                                        <button type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                                            Login
                                        </button>
                                    </form>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="RequestResetPassword">Reset Password</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" asp-controller="Account" asp-action="Register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@* Response container *@
@{
    await Html.RenderPartialAsync("~/Views/Shared/_Response.cshtml");
}
<script type="text/javascript">

    window.onload = function () {
        var type = document.getElementById('code').value;
        var title = document.getElementById('status').value;
        var message = document.getElementById('message').value;

        if (type != null && type == 200) {
            type = 'success';
            messenger(message, title, type)
        }
        if (type != null && type == 403) {
            type = 'warning';
            messenger(message, title, type)
        }
    }

</script>