﻿@model EditProfileViewModel
@{
    ViewData["Title"] = "My Profile";
    var _user = (LoggedInUserViewModel)ViewBag.user;
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" asp-action="Index">
                    <i class="fas fa-home fa-film"></i>
                    <span>Home</span>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @if (_user.UserType.Equals("Administrator") && _user.UserType.Equals("SuperAdmin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">
                            <i class="fas fa-cog fa-sm fa-fw mr-2 ri"></i>
                            Manage
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
<section class="py-4 bg-light inner-header border-bottom">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6">
                <h4 class="mt-0 mb-0 text-dark">
                    My Account
                </h4>
            </div>
            <div class="col-lg-6 col-md-6 text-right">
                <div class="breadcrumbs">
                    <p class="mb-0"><a asp-action="Index"><i class="icofont-ui-home"></i> Home</a>  /  <span>My Account</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container pt-5 mb-4 pb-2 list-bp">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            <div class="bg-gradient-primary inner-profile text-white py-5 px-4 widget shadow rounded mb-4 text-center">
                <form class="user" method="post" asp-action="Delete" asp-route-userId="@Model.Id">
                    <button type="submit" value="Submit" class="btn btn btn-warning">Un Subscribe</button>
                </form>
            </div>
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fas fa-home fa-film"></i> <b>←</b> Home</a>
                    <form class="user" method="post" enctype="multipart/form-data"  asp-action="Logout">
                        <button type="submit" value="Submit" class="btn btn-link">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 ri"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">

                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h5 mb-0 text-gray-900">My Profile</h1>
                </div>
                    <div class="row ml-5">
                        <form class="user" method="post" >
                            <div class="row">
                                <input asp-for="Id" hidden>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="FirstName"></label>
                                        <input asp-for="FirstName" class="form-control form-control-user">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control form-control-user">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <label asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control form-control-user">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="CreatedDate"></label>
                                    <input asp-for="CreatedDate" disabled class="form-control form-control-user">
                                    <span asp-validation-for="CreatedDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"> </div>
                        <div class="row">
                            <div class="col-md-3">
                                <button type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                                    Save
                                </button>
                            </div>
                            @if (_user.UserType.Equals("Administrator") && _user.UserType.Equals("SuperAdmin"))
                            {
                                <div class="col-md-6">
                                    <a asp-action="ResetPassword" asp-route-username="@Model.Email" class="btn btn-primary">Reset Password</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-6">
                                    <a asp-action="ResetPassword" asp-route-username="@Model.Email" class="btn btn-primary">Change Password</a>
                                </div>
                            }
                            <div class="col-md-3">
                                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>