﻿@model SaleAI.ViewModels.RegisterModel
@{
    ViewData["Title"] = "Register Account";
    var img = ViewBag.img;
}
<div class="bg-gradient-primary">
    <div class="container">

        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block " style="background: url(@img); background-position: center; background-size: cover;"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                    </div>
                                    <form class="user" method="post" asp-controller="Account" asp-action="Register">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label asp-for="Name"></label>
                                                <input asp-for="Name" class="form-control form-control-user" placeholder="John Khumalo" >
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label >Phone</label>
                                                <input type="text" name="phone" class="form-control form-control-user" id="phone" autocomplete="off">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label >Email</label>
                                            <input type="text" class="form-control form-control-user" name="email" autocomplete="off" id="emails"  maxlength="45" >
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label asp-for="Password"></label>
                                                <input asp-for="Password" class="form-control form-control-user">
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm-6">
                                                <label asp-for="ConfirmPassword"></label>
                                                <input asp-for="ConfirmPassword" class="form-control form-control-user" ID="tbPassword" onkeyup="CheckPasswordStrength(this.value)">
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <span id="password_strength">..</span>

                                        <button type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                                            Register Account
                                        </button>
                                        <hr>
                                    </form>
                                    <div class="text-center">
                                        <a class="small" asp-controller="Account" asp-action="Login">Already have an account? Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <input type="text" name="masknumber">
    <input type="text" name="number" style="display:none;">
</div>
@* Response container *@
@{
    await Html.RenderPartialAsync("~/Views/Shared/_Response.cshtml");
}
<script type="text/javascript">

    function CheckPasswordStrength(password) {
        var password_strength = document.getElementById("password_strength");


        //if textBox is empty
        if (password.length == 0) {
            password_strength.innerHTML = "";
            return;
        }

        //Regular Expressions
        var regex = new Array();
        regex.push("[A-Z]"); //For Uppercase Alphabet
        regex.push("[a-z]"); //For Lowercase Alphabet
        regex.push("[0-9]"); //For Numeric Digits
        regex.push("[$$!%*#?&]"); //For Special Characters

        var passed = 0;

        //Validation for each Regular Expression
        for (var i = 0; i < regex.length; i++) {
            if ((new RegExp(regex[i])).test(password)) {
                passed++;
            }
        }

        //Validation for Length of Password
        if (passed > 2 && password.length > 8) {
            passed++;
        }

        //Display of Status
        var color = "";
        var passwordStrength = "";
        switch (passed) {
            case 0:
                break;
            case 1:
                passwordStrength = "Password is Weak.";
                color = "Red";
                break;
            case 2:
                passwordStrength = "Password is Good.";
                color = "darkorange";
                break;
            case 3:
                break;
            case 4:
                passwordStrength = "Password is Strong.";
                color = "Green";
                break;
            case 5:
                passwordStrength = "Password is Very Strong.";
                color = "darkgreen";
                break;
        }
        password_strength.innerHTML = passwordStrength;
        password_strength.style.color = color;
    }

    window.onload = function () {
        var type = document.getElementById('code')?.value;
        var title = document.getElementById('status')?.value;
        var message = document.getElementById('message')?.value;

        if (type != null && type == 200) {
            type = 'success';
            messenger(message, title, type)
        }
        if (type != null && type == 403) {
            type = 'warning';
            messenger(message, title, type)
        }

        $("#phone").inputmask("099 999 9999", { placeholder: "000-000-0000", clearMaskOnLostFocus: true }); //default
   

        $("#emails").inputmask("email");
        $("#emails").inputmask({
            'autoUnmask': true
        });

    }
</script>