﻿@model RequestReset
@{
    ViewData["Title"] = "RequestReset Password";
    var img = ViewBag.img;
}
<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-5 d-none d-lg-block " style="background: url(@img); background-position: center; background-size: cover;"></div>
                            <div class="col-lg-7">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>

                                    <form class="user" method="post">
                                        <div asp-validation-summary="All" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="Username"></label>
                                            <input asp-for="Username" class="form-control form-control-user">
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                        <button type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                                            Request Reset
                                        </button>
                                    </form>

                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="Login">Login</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>