﻿@model IEnumerable<ReportUserViewModel>

@{
    ViewBag.Title = "All Users";
    var _user = (LoggedInUserViewModel)ViewBag.user;
    var _uTypes = new List<SelectListItem>()
    {
          new SelectListItem (){ Text = "ALL",Value = "All"},
          new SelectListItem (){ Text = "CUSTOMER",Value = "Customer"},
          new SelectListItem (){ Text = "ADMINISTRATOR",Value = "Administrator"},
          new SelectListItem (){ Text = "SUPERADMIN",Value = "SuperAdmin"}
    };
    
    var types = new List<SelectListItem>()
    {
       new SelectListItem (){ Text = "Excel",Value = "xlsx"},
       new SelectListItem (){ Text = "CSV",Value = "csv"},
       new SelectListItem (){ Text = "PDF",Value = "pdf"}
    };

}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Manage Store</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5 mb-4 pb-2 list-bp">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_BlueNavCard.cshtml", @_user);
            }
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    <label>Manage Users</label>
                    <a class="nav-link active" data-toggle="tab" href="#sidebar-1-4" id="sidebar-1-4" role="tab" aria-controls="sidebar-1-4" aria-selected="true">All Users</a>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-3 overflow-hidden">
                    <h1 class="h5 mb-0 float-left ml-3">All Users</h1>
                </div>

                @if (Model.Any())
                {
                    @using (Html.BeginForm("ExportUsers", "Manage", FormMethod.Post))
                    {
                        <select id="exportType" name="exportType" asp-items="@types">
                            <option>Select Export Type</option>
                        </select>
                        <button class="btn btn-outline-info" type="submit" value="Manage" name="action"><i class=" fa fa-download"></i> Export report</button>
                    }
                    <form method="post" asp-action="UserList">
                        <select id="filterBy" name="filterType" asp-items="@_uTypes" onchange="document.getElementById('filterSubmit').click();" >
                            <option>@ViewBag.SelectedFilter </option>
                        </select>

                        <input id="filterSubmit" hidden type="submit" value="submit" />
                    </form>
                        <table id="userList_id" class="table table-hover mt-2">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:53px;">Id #</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">User Name</th>
                                    <th scope="col" style="width:150px;">Phone Number</th>
                                    <th scope="col">User Type</th>
                                    <th scope="col" style="width:107px;">LogIns</th>
                                    <th scope="col">Requests</th>
                                    <th scope="col" style="width:80px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var type in Model)
                                    {
                                        <tr>
                                            <td><label for="exampleInput1">@type.UserId</label></td>
                                            <td><label for="exampleInput1">@type.FullName</label></td>
                                            <td><label for="exampleInput1">@type.UserName</label></td>
                                            <td><label for="exampleInput1">@type.PhoneNumber</label></td>
                                            <td><label for="exampleInput1">@type.UserTypeName</label></td>
                                            <td><label for="exampleInput1">@type.UserLogInCount</label></td>
                                            @if (type.RequestedPasswordReset)
                                            {
                                                <td><label for="exampleInput1" class="text-warning">Password Reset</label></td>
                                            }
                                            else
                                            {
                                                <td><label for="exampleInput1" class="text-success">None</label></td>
                                            }
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a class="btn btn-info btn-block btn-sm" asp-controller="Manage" asp-action="UserDetails" asp-route-id="@type.UserId" style="font-size: 10px; ">
                                                            <i class="fas fa-edit fa-sm" style="margin-left: -3px;"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-md-6" style="margin-left: -12px">
                                                        <form method="post" asp-action="DeleteUser" asp-route-userId="@type.UserId">
                                                            <button type="submit" class="btn btn-danger btn-sm" style="font-size:10px"><i class="fas fa-trash fa-sm"></i></button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                                <tr>
                            </tbody>
                        </table>
                        }



            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function ExportData( data) {

        var e = document.getElementById("exportType");
        var typ = e.value;

        $.ajax({
        url: '@Url.Action("ExportUsers", "Manage")',
        contentType: "application/json, charset-utf-8",
        dataType: "json",
        data: { expType: typ},
            success: function (data) {
            window.open(data);

        }
    });
    }


</script>