﻿@model UserDetailViewModel

@{
    ViewBag.Title = "User Details";
    var _user = (LoggedInUserViewModel)ViewBag.user;

    var types = new List<string>() { "Customer", "Administrator", "SuperAdmin" };
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark osahan-nav-mid">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">Manage Store</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container pt-5 mb-4 pb-2 list-bp">
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_BlueNavCard.cshtml", @_user);
            }
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    <label>Manage Users</label>
                    <a class="nav-link active" asp-action="UserList" role="tab" aria-controls="sidebar-1-4">Users</a>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9">
            <div class="bg-white p-3 widget shadow rounded mb-4">
                @* User Types *@
                <div class="d-sm-flex align-items-center justify-content-between mb-3 overflow-hidden">
                    <div class="row">
                        <div class="col-md-3">
                            <input disabled asp-for="@Model.User.FirstName" />
                        </div>
                        <div class="col-md-3">
                            <input disabled asp-for="@Model.User.UserName" />
                        </div>
                        <div class="col-md-3">
                            <input disabled asp-for="@Model.User.PhoneNumber" />
                        </div>
                    </div>
                </div>
                <div class="row">

                    <form method="post" asp-action="UpdateUser">
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-2 pt-0">Chnage User Type</legend>
                                <div class="col-sm-10">
                                    <input type="text" hidden name="userId" value="@Model.User.UserId" />
                                    @{

                                        foreach (var type in @types)
                                        {
                                            if (Model.User.Type.Equals(type))
                                            {
                                                <div class="form-check" >
                                                    <input class="form-check-input" type="radio" name="rdUserType" id="@type" value="@type" checked>
                                                    <label class="form-check-label text-success" for="@type">
                                                        @type
                                                    </label>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="rdUserType" id="@type" value="@type" >
                                                    <label class="form-check-label" for="@type">
                                                        @type
                                                    </label>
                                                </div>
                                            }

                                        }

                                    }
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    @if (Model.User.RequestedPasswordReset)
                    {
                        <div class="col-md-3">
                            <a class="btn btn-info btn-block btn-sm" asp-controller="Account" asp-action="ResetPassword" asp-route-username="@Model.User.UserName">Reset Password</a>
                        </div>
                    }
                </div>
                </div>
            </div>
    </div>
</div>
