﻿@using System.Collections.Generic
@model HomeViewModel

@{
    ViewData["Title"] = "Sales Page";
    var search = "";

}

<nav class="navbar navbar-expand navbar-dark topbar static-top shadow-sm bg-dark osahan-nav-top">
    <div class="container">
        @{
            if (Model.Cheapest != null && Model.Cheapest.products.Any())
            {
                await Html.RenderPartialAsync("~/Views/Shared/_Cheapest.cshtml", Model);
            }

            await Html.RenderPartialAsync("~/Views/Shared/_AddProduct.cshtml", Model);

            if(ViewBag.hasBuget != null && ViewBag.hasBuget == "No")
                await Html.RenderPartialAsync("~/Views/Shared/_AddBudget.cshtml", Model);

            await Html.RenderPartialAsync("~/Views/Shared/_UpdateBudget.cshtml", Model);

            await Html.RenderPartialAsync("~/Views/Shared/_UpdateProduct.cshtml", Model);
        }
        @* Loader *@
        <div class="modal" tabindex="-1" data-backdrop="static" role="dialog" id="myloader">
            <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="~/Images/MEBIB.gif" />
                        <br />
                        <label class="text-success" id="messenger"> </label>
                    </div>
                </div>
            </div>
        </div>


        <form method="post" class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">

            <div class="input-group">
                <input asp-for="@search" id="searchVisible" class="form-control bg-white border-0 small" placeholder="Search for food Products for best prices" aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn bg-white" type="submit">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">

                <a class="nav-link dropdown-toggle pr-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline small">@Model.CurrentUser.FirstName</span>
                    <img class="img-profile rounded-circle" src="~/image0.png">
                </a>

                <div class="dropdown-menu dropdown-menu-right shadow-sm animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Profile" asp-route-username="@Model.CurrentUser.UserName">
                        <i class="fas fa-user-circle fa-sm fa-fw mr-2 ri"></i>
                        Profile
                    </a>
                    @if (@Model.CurrentUser.UserType.Equals("Administrator") && @Model.CurrentUser.UserType.Equals("SuperAdmin"))
                    {
                        <a class="dropdown-item" asp-controller="Admin" asp-action="Index">
                            <i class="fas fa-cog fa-sm fa-fw mr-2 ri"></i>
                            App Settings
                        </a>
                    }
                    <div class="dropdown-divider"></div>
                    <form class="user" method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="Logout">
                        <button type="submit" value="Submit" class="btn btn btn-danger">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 ri"></i>
                            Logout
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    @{
        List<SaleAI.Models.ShopStore> stores = Model.stores.ToList();
    }

    <div class="d-sm-flex align-items-center justify-content-between mt-5 mb-3">
        <h1 class="h5 mb-0 float-left">@ViewBag.bread</h1>

        @if (ViewBag.bread != "Dashboards")
        {
            <h4 class="h5 mb-0 float-left">Current Budget : R @Model.CurrentUser.Budget</h4>
            <button class="btn btn-outline-info" onclick="updateButtonWindow()"><i class=" fa fa-edit"></i> update Budget</button>
        }

        @if (ViewBag.bread == "My Shopping List" && stores.Any())
        {
            @using (Html.BeginForm("DownloadList", "Home", FormMethod.Post))
            {
                <button class="btn btn-outline-info" type="submit"><i class=" fa fa-download"></i> Export report</button>
            }
            <a href="#" onclick="ClearList()" class="btn btn-outline-info"><i class=" fa fa-trash-alt"></i> Clear List</a>
        }

    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-3">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_BlueNavCard.cshtml", Model.CurrentUser);
            }
            <div class="bg-white p-3 widget shadow rounded mb-4">
                <div class="nav nav-pills flex-column lavalamp" id="sidebar-1" role="tablist">
                    @{
                        if (Model.ProductCategories.Any())
                        {
                            <label>Categories</label>
                            for (int i = 0; i < Model.ProductCategories.Count; i++)
                            {
                                <form method="post">
                                    <input type="hidden" name="name" value="@Model.ProductCategories[i].Name">
                                    <button class="btn btn-outline-info" type="submit">
                                        <i class="fa fa-hashtag fa-sm fa-fw mr-2 ri"></i>@Model.ProductCategories[i].Name
                                    </button>
                                </form>
                            }
                        }
                        if (Model.ProductCategories.Any())
                        {
                            <label>Product Types</label>
                            for (int l = 0; l < Model.ProductTypes.Count; l++)
                            {
                                <form method="post">
                                    <input type="hidden" name="type" value="@Model.ProductTypes[l].Type">
                                    <button class="btn btn-outline-info">
                                        <i class="fas fa-tablets fa-sm fa-fw mr-2 ri"></i>@Model.ProductTypes[l].Type
                                    </button>
                                </form>
                            }
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-xl-9 col-lg-8">
            <div class="row ">

                @{
                    var id = 0;
                    foreach (var store in stores)
                    {
                        if (store.products.Any() && store.products.Count > 0 && ViewBag.bread != "Dashboards")
                        {
                            foreach (var special in store.products)
                            {
                                var user = User.Identity.Name;
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card  shadow border-0">
                                        <div class="m-card-cover">
                                            <a href=@store.link>
                                                <div class=" shadow-sm rounded mb-2 text-center p-2 m-2 love-box" style="background: @store.theme;">
                                                    <img src=@store.logo class="card-img-top" alt="...">
                                                </div>
                                            </a>
                                            <a href="#" onclick="LikeProduct(`@store.Id`, `@special.IsImage`, `@special.Link`, `@special.Img`, `@special.Price`, `@special.Name`, `@Model.CurrentUser.UserName`,`@id`)">
                                                <div class="position-absolute bg-white shadow-sm rounded text-center p-2 m-2 love-box">
                                                    <span id="@id" class="fa fa-star @special.Selected"></span>
                                                </div>
                                            </a>
                                            <a href=@special.Link>
                                                <img src=@special.Img class="card-img-top" alt="...">
                                            </a>
                                        </div>
                                        <div class="card-body p-3">
                                            <a href=@special.Link>
                                                <h1 class="card-title text-danger mb-1" style="font-size: 23px !important;">@special.Price</h1>
                                                <small class="text-black-50" style="font-size: x-small !important;">@special.Name</small>
                                            </a>
                                            @if (special.Quantity > 0)
                                            {
                                                <button class="btn btn-outline-info" onclick="updateQuantity(@special.ProductId)"><i class=" fa fa-edit"></i>X @special.Quantity</button>
                                            }
                                        </div>
                                    </div>
                                </div>

                                id++;
                            }
                        }
                        else
                        {
                            if (store.message.Length > 2)
                            {
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card  shadow border-0">
                                        <a href=@store.link>
                                            <div class="m-card-cover">
                                                <div class=" shadow-sm rounded mb-2 text-center p-2 m-2 love-box" style="background: @store.theme;">
                                                    <img src=@store.logo class="card-img-top" alt="..." style="height:40px">
                                                </div>
                                            </div>
                                            <div class="card-body p-3">
                                                <label class="text-danger mt-4 sm">@store.message</label>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }

                    }
                    if (ViewBag.bread == "Dashboards")
                    {
                        <div class="col-xl-5 col-md-4 mb-4">
                            <div class="bg-gradient-info inner-profile text-white py-5 px-4 widget shadow rounded mb-4 text-center">
                                <div class="card-body p-3">
                                    <h1 class="card-title text-white mb-1" style="font-size: 23px !important;">Total Products In List</h1>
                                    <h3 class="text-white-50">@Model.totalQuantity </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-4 mb-4">
                            <div class="bg-gradient-success inner-profile text-white py-5 px-4 widget shadow rounded mb-4 text-center">
                                <div class="card-body p-3">
                                    <h1 class="card-title text-white mb-1" style="font-size: 23px !important;">Total Amount</h1>
                                    <h3 class="text-white-50">R @Model.totalAmount.ToString(".00")</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-md-4 mb-4">
                            <div class="bg-gradient-primary inner-profile text-white py-5 px-4 widget shadow rounded mb-4 text-center">
                                <div class="card-body p-3">
                                    <h1 class="card-title text-white mb-1" style="font-size: 23px !important;">Total Budget</h1>
                                    <h3 class="text-white-50">R @Model.CurrentUser.Budget</h3>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @if (ViewBag.bread == "My Shopping List")
            {
                <div class="row">
                    <h4 class="h5 mb-0 float-left">Total Products : @Model.totalQuantity </h4>
                </div>
                <div class="row">
                    <h4 class="h5 mb-0 float-left">List Total Amount : R @Model.totalAmount.ToString(".00")</h4>
                </div>
                if (float.Parse(Model.CurrentUser.Budget) < Model.totalAmount)
                {
                    <div class="row">
                        <h5 class="h5 mb-0 float-left text-danger text-sm-left">Your Current List is over Budget</h5>
                    </div>
                }
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    var storeId = 0;
    var isImage = false;
    var link = " ";
    var Img = " ";
    var price = " ";
    var Name = " ";
    var username = " ";
    var id = 0;

    window.onload = function () {
        document.getElementById('searchVisible').value = "";
        $('#myModal').modal('show');
        $('#addBudget').modal('show');
    }

    function updateButtonWindow() {
        $('#updateBudget').modal('show');
    }

    function LikeProduct(storeId, IsImage, Link, Img, Price, Name,username,id)
    {

        if (document.getElementById(id).classList.contains('not-in-list')) {
            this.storeId = storeId;
            this.isImage = IsImage;
            this.link = Link;
            this.Img = Img;
            this.price = Price;
            this.Name = Name;
            this.username = username;
            this.id = id;
            $('#addProduct').modal('show');
        }
        else {
            document.getElementById(id).classList.remove('in-list');
            document.getElementById(id).classList.add('not-in-list');

            $.ajax({
                url: '@Url.Action("AddProductToCategory", "Home")',
                contentType: "application/json, charset-utf-8",
                dataType: "json",
                data: { storeId: storeId, IsImage: IsImage, Link: Link, Img: Img, Price: Price, Name: Name, user: username },
                success: function (data) {
                    location.reload();
                    messenger('Item Removed to Shoping List', 'Removed', 'warning');
                    $('#myloader').modal('hide');
                }
            });
        }

    }
    function ClearList() {

        $('#myloader').modal('show');
        $("#messenger").text("Please Wait....");
         $.ajax({
            url: '@Url.Action("ClearShopingList", "Home")',
            contentType: "application/json, charset-utf-8",
            dataType: "json",

            success: function (data) {
                location.reload();
                messenger('List Successfully Cleared', 'Cleared', 'success');
                $('#myloader').modal('hide');
            }
        });

    }

    function DownLoadList() {

        $.ajax({
        url: '@Url.Action("DownloadList", "Home")',
        contentType: "application/json, charset-utf-8",
        dataType: "json",

        success: function (data) {
           // location.reload();
            messenger('List Successfully Cleared', 'Cleared', 'success');
        }
    });

}

    function addProductToList(storeId, IsImage, Link, Img, Price, Name, username, id,quantity) {
            document.getElementById(id).classList.remove('not-in-list');
            document.getElementById(id).classList.add('in-list');

           $.ajax({
                url: '@Url.Action("AddProductToCategory", "Home")',
                contentType: "application/json, charset-utf-8",
                dataType: "json",
               data: { storeId: storeId, IsImage: IsImage, Link: Link, Img: Img, Price: Price, Name: Name, user: username, quan: quantity},

                success: function (data) {
                    messenger('Item Added to Shoping List', 'Added', 'success');
                    $('#myloader').modal('hide');
                }
            });
    }

    function submitProduct() {
        var quantity = document.getElementById('quantity').value;

        $('#myloader').modal('show');
        $('#messenger').text("adding to list...");
        addProductToList(this.storeId, this.isImage, this.link, this.Img, this.price, this.Name, this.username, this.id, quantity)
        $('#addProduct').modal('hide');

    }

    function updateQuantity(id) {
        document.getElementById('_productid').value = id;
        $('#updateQuantity').modal('show');
    }

    function submitProductQuantity() {
        var quantity = document.getElementById('_quantity').value;
        var quantityProductId = document.getElementById('_productid').value;

        $('#myloader').modal('show');
        $('#messenger').text("updating quantity...");

        $.ajax({
            url: '@Url.Action("UpdateProductQuantity", "Home")',
            contentType: "application/json, charset-utf-8",
            dataType: "json",
            data: { quan: quantity, productId: quantityProductId},

            success: function (data) {
                messenger('Product quantity updated', 'Updated', 'success');
                location.reload();
                $('#myloader').modal('hide');
            }
         });

        $('#updateQuantity').modal('hide');
    }

    function submitBudget() {
        var amnt = document.getElementById('budgetAmt').value;

        $('#myloader').modal('show');
        $('#messenger').text("creating budget...");


           $.ajax({
                url: '@Url.Action("AddBudgetToUser", "Home")',
                contentType: "application/json, charset-utf-8",
                dataType: "json",
               data: { amount: amnt},

                success: function (data) {
                    messenger('Your budget has been created', 'Added', 'success');
                    location.reload();
                    $('#myloader').modal('hide');
                }
            });

        $('#addBudget').modal('hide');
    }
</script>
